@media (max-width: 600px) {
  .MuiTableCell-head:nth-child(1),
  .MuiTableCell-body:nth-child(1),
  .MuiTableCell-head:nth-child(2),
  .MuiTableCell-body:nth-child(2) {
    display: none;
  }
}

@media (min-width: 600px) {
  .s-header {
    display: none;
  }
}
li {
  padding-left: 0;
  list-style-type: none;
}
